/** @format */
:root {
  --themeBorder: 0.5rem solid #2c6d71;
  --imgBefore: 0.6;
  --imgAfter: 1;
  --linkAnimation1: transform, 0.5s;
  --linkAnimation2: scale(1.5);
  --buttonShadow: 0px 0px 80px 0px white;
}

html {
  scroll-behavior: smooth;
}

/* Header */

header {
  background-image: url(https://i.pinimg.com/736x/3c/e4/39/3ce439a152a704da5f7e52c6902689ab.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

.my-nav {
  background-color: #2c6d71;
  opacity: var(--imgBefore);
}
.my-nav img {
  max-width: 2.5rem;
  border: 2px solid #036f75;
  border-radius: 5rem;
  margin: 0 0.5rem 0 0.5rem;
  transition: var(--linkAnimation1);
}
.my-nav img:hover {
  transform: var(--linkAnimation2);
  opacity: var(--imgAfter);
}
.my-title {
  color: white;
  font-size: 36px;
  font-weight: 900;
}
.my-title:hover {
  text-decoration: none;
  color: white;
  border-radius: 2rem;
  box-shadow: var(--buttonShadow);
}
.my-links li a {
  font-size: 28px;
  color: white;
  font-weight: 600;
}

.my-links li a:hover {
  border-radius: 2rem;
  box-shadow: var(--buttonShadow);
}
.fa-bars {
  color: white;
  width: 5rem;
  font-size: 30px;
}

/* Hero Section */

.hero-banner {
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.my-jumbo {
  width: 70%;
  background: transparent;
  color: #d9e2e9;
}

/* Main section */
.page-wrapper {
  margin-top: 1rem;
}
.page-section {
  margin-bottom: 1rem;
}

/* About me Section */

.main-col {
  border-right: var(--themeBorder);
}
.main-col h2 {
  font-size: 48px;
  font-weight: 600;
  opacity: var(--imgBefore);
  text-align: end;
}
.about-me-card {
  border: var(--themeBorder);
}
.about-me img {
  width: auto;
  max-height: 30rem;
  border: var(--themeBorder);
  margin-left: 1rem;
}
.about-me-content {
  height: 30rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: var(--imgBefore);
}
.about-me-content p {
  font-size: 18px;
  text-align: justify;
  margin-bottom: 3rem;
}

.contact-details {
  text-align: center;
  padding-top: 0.2rem;
}

.contact-details h5 {
  font-size: 30px;
}
.contact-details address {
  font-size: 18px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.contact-details address a {
  padding: 0.2rem 3rem;
  text-decoration: none;
  color: black;
  transition: var(--linkAnimation1);
}

.contact-details address a:hover {
  color: #2c6d71;
  opacity: var(--imgAfter);
  transform: var(--linkAnimation2);
}

/* Work Section */

.my-work {
  display: flex;
  flex-direction: column;
  margin-bottom: 0;
  padding-bottom: 0;
}

.main-project {
  opacity: var(--imgBefore);
}

.main-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  border: var(--themeBorder);
}
.main-card-content {
  width: fit-content;
  padding: 0.5rem;
  border: 3px solid #d9e2e9;
  background-color: #2c6d71;
  opacity: var(--imgBefore);
}

.mini-projects {
  height: 15rem;
  display: flex;
  flex-direction: column;
  justify-content: end;
  border: 3px solid #d9e2e9;
}

.pro-2 {
  background-image: url(../Images/02-portfolio-2.jpg);
}
.pro-3 {
  background-image: url(../Images/02-portfolio-3.jpg);
}

.pro-4 {
  background-image: url(../Images/02-portfolio-4.jpg);
}
.pro-5 {
  background-image: url(../Images/02-run-buddy.jpg);
}

.mini-projects {
  background-repeat: no-repeat;
  background-size: cover;
  border: var(--themeBorder);
  opacity: var(--imgBefore);
}

.main-project:hover {
  opacity: var(--imgAfter);
}
.pro-2:hover {
  opacity: var(--imgAfter);
}
.pro-3:hover {
  opacity: var(--imgAfter);
}
.pro-4:hover {
  opacity: var(--imgAfter);
}
.pro-5:hover {
  opacity: var(--imgAfter);
}

.mini-card-content {
  width: fit-content;
  padding: 0.3rem;
  border: 3px solid #d9e2e9;
  background-color: #2c6d71;
  opacity: var(--imgBefore);
  color: white;
}
.mini-card-content h5,
.mini-card-content p {
  padding: 0;
  margin: 0;
}

/* Skills section */

.skills {
  border: var(--themeBorder);
}
.skills li {
  text-align: center;
  opacity: var(--imgBefore);
}

.skills li:hover {
  background-color: #2c6d71;
  border-radius: 0;
  color: #d9e2e9;
}

/* Footer */

.footer {
  background-color: #2c6d71;
  padding: 1rem;
}

.footer-row {
  align-items: center;
}
.footer-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: var(--imgBefore);
  color: white;
}
.footer-main h2,
.footer-main h5 {
  font-weight: 700;
}
.social-links {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  padding-left: 0;
}

.social-links li {
  list-style: none;
  transition: var(--linkAnimation1);
}
.social-links li a {
  text-decoration: none;
  color: white;
}

.social-links li:hover {
  transform: var(--linkAnimation2);
  opacity: var(--imgAfter);
}

.social-links li a:hover {
  color: aquamarine;
}

.fa-brands {
  padding: 0.5rem 0.2rem 0 0;
}
.footer-aside {
  margin: 0 0.5rem 0 0;
  padding: 0;
  max-width: 3rem;
  height: max-content;
}
.my-btn {
  background-color: #2c6d71;
  opacity: var(--imgBefore);
  border: none;
}
.my-btn a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-weight: 800;
  opacity: var(--imgBefore);
}
.my-btn:hover {
  background-color: #2c6d71;
  opacity: var(--imgAfter);
  border-top-left-radius: 2rem;
  border-bottom-left-radius: 2rem;
  box-shadow: var(--buttonShadow);
  border: none;
}

.my-btn:focus {
  background-color: #2c6d71;
  opacity: var(--imgAfter);
  border: none;
}

/* Media Query */
@media only screen and (max-width: 1195px) {
  .about-me {
    flex-direction: column;
    align-items: center;
  }
  .about-me img {
    max-width: 18rem;
    margin: 0;
  }
  .about-me-content p {
    font-size: 16px;
  }
  .main-project,
  .mini-projects {
    opacity: var(--imgAfter);
  }
}

@media only screen and (max-width: 700px) {
  /* Header */
  .my-jumbo h1 {
    font-size: 36px;
  }
  .my-jumbo p {
    font-size: 20px;
  }

  /* Main */
  .about-me {
    flex-direction: column;
    align-items: center;
  }
  .about-me img {
    max-width: 15rem;
    margin: 0;
    border: none;
  }

  /* Footer */
  .footer-row {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .footer-aside {
    max-width: max-content;
    padding: 0;
    margin: 0;
  }
  .my-btn:hover {
    border-radius: 10rem;
  }
}

@media only screen and (max-width: 576px) {
  /* Header */
  .my-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .fa-bars {
    width: auto;
  }
  .my-jumbo h1 {
    font-size: 30px;
  }
  .my-jumbo p {
    font-size: 18px;
  }
  /* Main */
  .about-me {
    flex-direction: column;
    align-items: center;
  }
  .about-me img {
    max-width: 15rem;
    margin: 0;
  }
  .page-section .col-sm-5 {
    border-right: none;
  }
  /* Footer */
  .social-links {
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media only screen and (max-width: 430px) {
  /* Header */
  .my-jumbo h1 {
    font-size: 25px;
  }
  .my-jumbo p {
    font-size: 14px;
  }

  /* Main */
  .about-me {
    flex-direction: column;
    align-items: center;
  }
  .about-me img {
    max-width: 14rem;
    max-height: 15rem;
    margin: 0;
    border: var(--themeBorder);
  }
}
